html

    --portal-white #fff
    --portal-green #45B759
    --gradient-green linear-gradient(270deg, #45B759 0%, #85C551 100%)
    --border-grey #D4D4D4
    --portal-text-black #393E46
    --button-border 50%
